In [1]:
import pandas as pd

In [91]:
import numpy as np

In [150]:
df0 = pd.read_csv('train.csv')

In [153]:
def preprocessing(df):
    df['total_rooms'] = df['TotRmsAbvGrd'] + df['BsmtFullBath']
    df['price_by_building'] = df['SalePrice'] / (df['GrLivArea'] + df['GarageArea'] + df['TotalBsmtSF'])
    df['qual_area_pound'] = df['OverallQual'] * df['GrLivArea']
    
    df.drop_duplicates()
#     drop outsider qual area pound
    df = df.drop(523)
    df = df.drop(1298)
#     drop outsider price by building
    df = df.drop(533)
#     create a bool columns for yearbuilt
    df['built_after_85'] = df['YearBuilt'] > 1985
    df = df[['total_rooms', 'price_by_building', 'TotalBsmtSF', 'GarageArea', 'qual_area_pound', 'SalePrice']]
    return df
df = df0.copy()
df = preprocessing(df)
df

,total_rooms,price_by_building,TotalBsmtSF,GarageArea,qual_area_pound,SalePrice
0,9,66.955684,856,548,11970,208500
1,6,60.824397,1262,460,7572,181500
2,7,67.441159,920,608,12502,223500
3,8,44.943820,756,642,12019,140000
4,10,59.822924,1145,836,17584,250000
...,...,...,...,...,...,...
1455,7,57.189542,953,460,9882,175000
1456,8,51.032807,1542,500,12438,210000
1457,9,71.180556,1152,252,16380,266500
1458,6,59.317613,1078,240,5390,142125
1459,7,52.905308,1256,276,6280,147500

In [4]:
def normalise (data):
    for column in data.columns:
        data[column] = data[column] / data[column].mean()
    return data

In [5]:
from sklearn.model_selection import train_test_split

In [71]:
X, y = df.drop(columns="SalePrice"), df["SalePrice"]
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [72]:
from sklearn.linear_model import LinearRegression

In [73]:
reg = LinearRegression().fit(X_train, y_train)
reg.score(X_train, y_train)

0.9674272836016622

In [74]:
reg.score(X_test, y_test)

0.9713338941575773

In [23]:
reg.coef_

array([2748.25325123, 2692.5073958 ,   55.55291622,   50.44563271,
          6.73884809])

In [24]:
reg.intercept_

-143969.99231661574

In [138]:
df_mean = normalise(df)

In [139]:
df_mean

,total_rooms,price_by_building,TotalBsmtSF,GarageArea,qual_area_pound,SalePrice
0,1.297161,1.139474,0.812715,1.160098,1.243917,1.151742
1,0.864774,1.035129,1.198185,0.973805,0.786879,1.002596
2,1.008903,1.147736,0.873479,1.287116,1.299202,1.234601
3,1.153032,0.764869,0.717772,1.359092,1.249009,0.773352
4,1.441290,1.018086,1.087102,1.769784,1.827321,1.380986
...,...,...,...,...,...,...
1455,1.008903,0.973270,0.904810,0.973805,1.026933,0.966690
1456,1.153032,0.868493,1.464027,1.058483,1.292551,1.160028
1457,1.297161,1.211374,1.093748,0.533476,1.702202,1.472131
1458,0.864774,1.009487,1.023490,0.508072,0.560126,0.785090
1459,1.008903,0.900360,1.192489,0.584283,0.652615,0.814782

In [75]:
X_mean, y_mean = df_mean.drop(columns="SalePrice"), df_mean["SalePrice"]
X_mean_train, X_mean_test, y_mean_train, y_mean_test = train_test_split(X_mean, y_mean)

In [76]:
reg_mean = LinearRegression().fit(X_mean_train, y_mean_train)
reg_mean.score(X_mean_train, y_mean_train)

0.9666941523332327

In [77]:
reg_mean.score(X_mean_test, y_mean_test)

0.9746917080549056

# RANDOM FOREST

In [224]:
from sklearn.ensemble import RandomForestRegressor

In [241]:
X, y = df.drop(columns="SalePrice"), df["SalePrice"]
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [242]:
regr = RandomForestRegressor(max_depth=5, random_state=0)

In [243]:
regr_fit = regr.fit(X_train, y_train)

In [244]:
y_pred = regr_fit.predict(X_test)

In [245]:
from sklearn.metrics import mean_squared_error

In [246]:
mean_squared_error(y_pred, y_test)

657673441.1252321

In [202]:
importances_features = regr_fit.feature_importances_

In [203]:
for name, feature in zip(['total_rooms',  'price_by_building', 'TotalBsmtSF', 'GarageArea', 'qual_area_pound'], importances_features):
    print(name, round(feature*100,1),'%')

total_rooms 0.3 %
price_by_building 26.0 %
TotalBsmtSF 6.9 %
GarageArea 0.7 %
qual_area_pound 66.1 %

# RANDOM FOREST NORMALISE

In [216]:
X_mean, y_mean = df_mean.drop(columns="SalePrice"), df_mean["SalePrice"]
X_mean_train, X_mean_test, y_mean_train, y_mean_test = train_test_split(X_mean, y_mean)

In [204]:
regr_mean = RandomForestRegressor(max_depth=5, random_state=0)

In [205]:
regr_mean_fit = regr.fit(X_mean_train, y_mean_train)

In [206]:
y_mean_pred = regr_mean_fit.predict(X_mean_test)

In [207]:
mean_squared_error(y_mean_pred, y_mean_test)

0.009801793774073317

In [174]:
importances_features_mean = regr_mean_fit.feature_importances_

In [175]:
for name, feature in zip(['total_rooms',  'price_by_building', 'TotalBsmtSF', 'GarageArea', 'qual_area_pound'], importances_features_mean):
    print(name, round(feature*100,1),'%')

total_rooms 0.2 %
price_by_building 28.4 %
TotalBsmtSF 5.5 %
GarageArea 0.6 %
qual_area_pound 65.3 %